main { 
    height: 100%;
    width: 100%;
}

article p a {
color: #707070;

}

.portfolio-grid-container {
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 25% 25% 25% auto;
    grid-gap: 1em;
}

#heading {
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

video {
    height: 100px;
    width: 100px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border: #707070 solid 1px;
    background: white;
    border-radius: 5px;
}

article {
    background: lightgrey;
    color: #707070;
    padding: 1em;
    text-align: center;
    /* border: solid black 3px; */
    border-radius: 10px;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px -1px rgba(46,49,51,1);
}

article img {
   height: 200px;
    width: 200px;
    border: #707070 solid 1px;
}

article p {
    color: #707070;
}

.coupon-book {
    grid-column: 1/2;
    grid-row: 2/3;
}

.dashboard {
    grid-column: 2/3;
    grid-row: 2/3;
}

.hair {
    grid-column: 1/2;
    grid-row: 3/4;
}

.nasa {
    grid-column: 2/3;
    grid-row: 3/4;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: #707070 solid 2px; */
    border-radius: 10px;
    grid-row: 4/5;
    grid-column: 1/3;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px -1px rgba(46,49,51,1);
}

form p {
    color: black;
    text-align: center;
}

#submit {
    position: relative;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#submit:hover {
    transform:translateY(-2.5px);
    transform: scale(1.1);
}

#reset {
    border-radius: 5px;
    width: 50%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: lightgrey solid 2px;
    color: grey;
    cursor: pointer;

}
.iframe-container {
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
    height: 315px;
    color: grey;
}

  .iframe-container iframe {
    grid-column: 1/3;
    display: block;
    width: 65%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    border: white solid 2px;
  }

  .form_buttons {
      display: flex;
      flex-direction: row-reverse;

  }

  @media only screen and (max-width: 600px) {
      .portfolio-grid-container {
          grid-template-columns: 1fr;
      }

      .coupon-book {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .dashboard {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .hair {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .nasa {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    video {
        display: none;
    }
  
    .iframe-container {
        display: none;
    }

    form {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 85%;
    }

}

